/* 
---------------------------------------------------------------------------------
	The Cloud Resume Challenge - DigitalOcean
    html resume

    v0.1: 25/11/2022

    design and code by: ugwulo.me
                        (johnpaul ugwulo)
--------------------------------------------------------------------------------- 
*/

#header { 
    background-color: rgb(11, 11, 12); 
    color: green;
    padding: 2rem;
    line-height: 8px;
}

.content {
    margin: 1rem 3rem 1rem 3rem;
    font-family: Calibri;
    padding: 24px;
}

#title {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.summary {
    font-size: large;
}

.sub-header{
    text-align: center;
    text-transform: uppercase;
}

hr {
    border-top: 2px solid black;
  }